

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body{
  
  background-image: url("back3.jpg");
              
}
/* ================= LOGO ================ */
.logo img {
  height: 25px;
  width: auto;
  display: block;
}

.log{
  border-top-left-radius: 50% 50%; 
  border-top-right-radius: 50% 50%; 
  border-bottom-right-radius: 50% 50%; 
  border-bottom-left-radius: 50% 50%;
}

/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}


/* ================= HEADER ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(93, 24, 55);
  padding: 1rem 5rem;
}
.company-logo {
  font-size: 1rem;
  background: -webkit-linear-gradient(
    120deg,
  );
}
.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 5rem;
}
/* ================= HOME ================ */
.nav-link1 {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 420px;
}
.nav-link1::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ================= ABOUT US ================ */
.nav-link2 {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 560px;
}
.nav-link2::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ================= Create acc ================ */
.nav-link3 {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 250px;
}
.nav-link3::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ================= Sing In ================ */
.nav-link4 {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 120px;
}
.nav-link4::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link4:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.name{
  font-family: Abhaya Libre ExtraBold;
font-size: 70px;
letter-spacing: 0em;
text-align: center;
color: #686868;
}
h2{
  padding-top: 50px;
  text-align: center;
  color: #686868;
}
.img{
  margin-left: 570px;
}

/* FOOTER */

  .top-footer {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0rem;
  }
  .footer-title {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .footer-items h3 {
    font-size: 0.9rem;
  }

  .end-footer {
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
    background-color: #5D1837;
  }

.top-footer {
  background-color: rgb(93, 24, 65);
  display: flex;
  flex-direction: row;
}
.footer-title {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 0;
  background-image: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-items h3 {
  cursor: pointer;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.1rem 0;
  color: var(--white-color-alt);
}
.footer-items h3:hover {
  text-decoration: underline;
}
.footer-items h3:last-child {
  padding-bottom: 2rem;
}

.end-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4D0525;
}
.copyright {
  color: var(--white-color-alt);
  padding: 1rem 0;
  font-size: 0.9rem;
}
.copyright b {
  font-weight: inherit;
  font-size: 0.9rem;
}
.designer {
  color: #3E1527;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.designer:hover {
  text-decoration: underline;
}
